/* this is reset setting
*{
	margin: 0;
	padding: 0;
}
*/
body{
	background-color: #f4f4f4;
	color: #555555;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	/* Same as above */
	font: normal 16px arial, helvetica, sans-serif;

	line-height: 1.6em;
	margin: 0;
}

.container{
	width: 80%;
	margin: auto;
}

.box-1{
	background-color: #333333;
	color: #ffffff;
	border-right: 5px red solid;
	border-left: 5px red solid;
	border-top: 5px red solid;
	border-bottom: 5px red solid;
	/*same as above*/
	
	border-width: 3px;
	border-bottom-width: 10px;
	border-top-style: dotted;
	border: 5px red solid;

	padding: 20px;
	margin-top: 20px;

}

.box-1 h1{
	font-family: tahoma;
	font-weight: 800;
	font-style: italic;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	word-spacing: 1em;
}

.box-2{
	border: 3px dotted #cccccc;
	padding: 20px;
	margin: 20px;

}

.categories{
	border: 1px #ccc solid;
	padding: 10px;
	border-radius: 15px;
}

.categories h2{
	text-align: center;
}

.categories ul{
	padding: 0;
	padding-left: 20px ;
	list-style: square;
	list-style: none;
}

a{
	text-decoration: none;
	color#000
}

a:hover{
	color: red;
}
a:active{
	color: green;
}
a:visited{
	color: black;
}

.categories li{
	padding-bottom: 6px;
	border-bottom: dotted 1px #333;
	list-style-image: url(check.png);

}

.myform{
	padding: 20px;

}

.myform .form-group{
	padding-bottom: 15px;
}

.myform label{
	display: block;
}

.myform input[type="text"], .myform textarea {
	padding: 8px;
	width: 100%;

}

.myform input[type="submit"]{
	background-color: #333;
	color: #fff;
	padding: 10px 15px;
	border: none;
}

.block{
	float: left;
	width: 33.3%;
	border:  1px solid #ccc;
	padding: 10px;
	box-sizing: border-box;
}

.clr{
	clear: both;
}

#main-block{
	float: left;
	width: 70%;
	padding: 15px;
	box-sizing: border-box;
}

#sidebar{
	float: right;
	width: 30%;
	background-color: #333;
	color: #fff;
	padding: 15px;
	box-sizing: border-box;

}